<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Edit Task - TaskFlow</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>


<body>


    <nav class="navbar">

        <div class="logo">
            TaskFlow
        </div>


        <div class="nav-links">

            <a href="/dashboard">
                Dashboard
            </a>


            <a href="/logout">
                Logout
            </a>

        </div>


    </nav>





    <section class="edit-container glass">


        <h1>
            Edit Task
        </h1>




        <form method="POST">

             <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">


            <input
                type="text"
                name="title"
                value="{{ task['title'] }}"
                placeholder="Task title"
                required
            >



            <textarea
                name="description"
                placeholder="Task description"
            >{{ task['description'] }}</textarea>




            <button type="submit">
                Update Task
            </button>



        </form>




    </section>



</body>

</html>