<!DOCTYPE html>
<html>

<head>
    <title>Student Task Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>


<body>
    <nav class="navbar">

    <h1 class="logo">TaskFlow</h1>

    <div class="nav-links">
        <a href="/register">Get Started</a>
     <a href="/login">Login</a>
     </div>

    </nav>

    <section class="hero">

        <div class="hero-content">

            <h1 class="hero-title">
                <span id="typing-text"></span>
            </h1>

             <p class="hero-text">
            TaskFlow helps students and individuals create,
            track, and complete tasks efficiently.
        </p>


    </div>

        </section>

     
    <section id="features">


<div class="feature-card glass">

<h3>
Task Management
</h3>

<p>
Create, edit, delete, and organize your tasks.
</p>

</div>



<div class="feature-card glass">

<h3>
Progress Tracking
</h3>

<p>
Track pending and completed tasks easily.
</p>

</div>



<div class="feature-card glass">

<h3>
Secure Accounts
</h3>

<p>
Your tasks are stored safely under your account.
</p>

</div>


</section>

<section class="cta">

        <h2>
            Ready to take control of your tasks ?
        </h2>

        <p>
             Start organizing your work and stay productive with TaskFlow.
        </p>
    

    <a href="/register" class="primary-btn">
       Create Free Account
   </a>

</section>

    <footer>
        &copy; 2026 TaskFlow. All rights reserved.
    </footer>





<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>