<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Create Account - TaskFlow</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>


<body>
    <div class="particles"></div>
      <div class="register-container">
    </div>


    <nav class="navbar">

        <div class="logo">
            TaskFlow
        </div>


        <div class="nav-links">

            <a href="/">
                Home
            </a>


            <a href="/login">
                Login
            </a>

        </div>

    </nav>




    <div class="auth-container glass">


        <h1>
            Create Account
        </h1>




        {% with messages = get_flashed_messages() %}

            {% if messages %}

                {% for message in messages %}

                    <div class="message">
                        {{ message }}
                    </div>

                {% endfor %}

            {% endif %}

        {% endwith %}




        <form method="POST" class="auth-form">

             <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">


            <input
                type="text"
                name="username"
                placeholder="Username"
                required
            >



            <input
                type="email"
                name="email"
                placeholder="Email"
                required
            >



            <input
                type="password"
                name="password"
                placeholder="Password"
                required
            >



            <button type="submit">
                Create Account
            </button>


        </form>




        <p style="margin-top:20px; text-align:center; color:var(--secondary-text);">


            Already have an account?


            <a href="/login" style="color:var(--primary);">
                Login
            </a>


        </p>




    </div>


<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>